<div class="body-wrapper-with-mat">
    <div class="body-mat" id="clubs-body-mat">
        <h1 class="page-title">All Clubs</h1>

        <div id="club-card-container">
            <div class="club-card columns">
                <div class="column is-one-fourth book-info-div"><img class="book-cover"
                        src="https://via.placeholder.com/450x720.png">
                    <p class="book-title">Title</p>
                    <p class="book-author">Author</p>
                    <p class="book-genre">Genre</p>
                    <p class="book-year">Year</p>
                </div>
                <div class="column club-info-div">
                    <p class="club-name">Club name will go here</p>
                    <p class="progress-bar-label">Progress bar label</p>
                    <progress class="progress" value="20" max="100">Progress
                    </progress>
                    <p>This row is hard coded. Remove before deployment.</p>
                </div>
                <div class="column is-one-fifth join-club-div"><button class="button">Join Club</button>
                </div>
            </div>

        </div>


    </div>
</div>