<div class="body-wrapper">
    <div class="transparent-gray-card centered-card">
        <div class="text-center">
            <h2>Create New Club Form</h2>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <form class="club-create-form">
                <div class="form-group">
                    <label for="new-club-name">Enter a name for your club:</label>
                    <input type="text" name="new-club-name" class="form-control" placeholder="Club Name">
                </div>
                <div class="form-group">
                    <label for="new-club-book">Enter a book for your club to read:</label>
                    <input type="text" name="new-club-book" class="form-control" placeholder="Book Title">
                </div>
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox">
                            Join this Book Club (warn user about only being in one club at a time)
                        </label>
                    </div>
                </div>

                <div class="buttons is-centered">
                    <button class="button bookish-primary" id="create-new-club-btn">
                        <strong>Create</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>