<div class="body-wrapper">
    <div class="transparent-gray-card">
        <div class="text-center">
            <h2>Create New Club Form</h2><br />
        </div>
        <div class="field is-grouped is-grouped-centered">
            <form class="club-create-form">
                <div class="form-group">
                    <label for="new-club-name">Enter a name for your club:</label>
                    <input id="new-club-input" type="text" name="new-club-name" class="form-control"
                        placeholder="Club Name">
                </div>
                <div class="form-group">
                    <label for="new-club-book">Enter a book for your club to read:</label>
                    <input id="book-name-input" type="text" name="new-club-book" class="form-control"
                        placeholder="Book Title">
                </div>


                <div class="buttons is-centered">
                    <button type="submit" class="button bookish-primary" id="create-new-club-btn">
                        <strong>Create</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>