<div class="index-columns columns">
    <div class="index-column column" id="landing-sign-up">
        <div id="value-prop-card">
            <h1 class="title" id="value-prop-title">Catchy hook line</h1>
            <h2 class="subtitle" id="value-prop-body">Brief description of the app. Join our app and your life will get
                better in the Afterworld.
            </h2>
            <button class="button is-white is-large is-hoverable" id="landing-action-btn">Action</button>
        </div>
    </div>
    <div class="index-column column" id="landing-carousel">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 carousel-img" src="/assets/img/carousel1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 carousel-img" src="/assets/img/carousel2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 carousel-img" src="/assets/img/carousel3.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
</div>