<div class="login-body-wrapper">
  <div class="text-center" id="login-header">
    <h2>Returning members</h2>
    <form class="login">
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="email-input" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
      </div>
      <div class="buttons is-centered">
        <button type="submit" class="button bookish-primary" id="login-button" href="/my-clubs">
          <strong>Log in</strong>
        </button>
      </div>
      </br>
      <p id="ptag-signup">New to Bookish? Create an account <a href="/signup">here</a></p>
    </form>
    <br />
  </div>
</div>