<div class="body-wrapper">
    <div class="transparent-gray-card">
        <div class="text-center">
            <h2>My Account Info</h2>
            <table class="table">
                <table class="table" id="logged-table">
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td id="email-cell">
                                <span id="email-span">
                                    {{email}}
                                </span>
                                <input class="input hidden" type="text" placeholder="Enter new email"
                                    id="edit-email-input">
                            </td>
                            <td><button class="button is-small bookish-primary" id="edit-email-btn">Edit</button><button
                                    class="button is-small hidden bookish-primary" id="save-email-btn">Save</button>
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td id="pw-cell">
                                <span id="pw-span">(pw here)</span>
                                <input class="input hidden" type="text" placeholder="Enter new password"
                                    id="edit-pw-input">

                            </td>
                            <td><button class="button is-small bookish-primary" id="edit-pw-btn">Edit</button><button
                                    class="button is-small hidden bookish-primary" id="save-pw-btn">Save</button></td>
                        </tr>

                    </tbody>
                </table>
        </div>
    </div>
</div>