<div class="body-wrapper">
    <div class="body-mat">
        <h1 class="page-title">My clubs</h1>
        <div class="columns">
            <div class="column">Book info</div>
            <div class="column">Meeting info</div>
        </div>
        <div class="columns">Member list</div>
        <div class="columns">Discussion board</div>
    </div>