<div class="body-wrapper" id="my-club-wrapper">
    <div class="body-mat" id="my-club-mat">
        <h1 class="page-title">My club</h1>
        <div class="columns club-columns">
            <div class="column club-column"><img class="book-cover" src="https://via.placeholder.com/450x720.png">
                <h2>Currently reading:</h2>
                <p class="book-title">Title</p>
                <p class="book-author">Author</p>
                <p class="book-genre">Genre</p>
                <p class="book-year">Year</p>
            </div>
            <div class="column club-column">
                <h2>Meeting info</h2>
            </div>
        </div>
        <div class="columns club-columns">
            <div class="column club-column">
                <h2>Member list</h2>
            </div>
        </div>
        <div class="columns club-columns">
            <div class="column club-column">
                <h2>Discussion</h2>
            </div>
        </div>
    </div>