<div class="body-wrapper">
    <div class="myclubs-body-wrapper">
        <div class="body-mat">
            {{#each books}}
            <h3>
                Title: {{title}}
            </h3>
            {{/each}}
        </div>
    </div>
</div>