<li>
    <div class="myclubs-body-wrapper">
        <div class="body-mat">
            {{#each books}}
            <h3>
                Title: {{title}}
                <p style="centered">
                    <button class="buttons bookish-primary">Add to Favorites List</button></p>
            </h3>

            {{/each}}
        </div>

    </div>
</li>