<div class="body-wrapper-with-mat">
    <div class="body-mat" id="trending-body-mat">
        <h1 class="page-title">Trending books</h1>
        <div class="book-card columns">
            <div class="column book-info-div"><img class="book-cover" src="https://via.placeholder.com/450x720.png">
                <p class="book-title">Title</p>
                <p class="book-author">Author</p>
                <p class="book-genre">Genre</p>
                <p class="book-year">Year</p>
            </div>

            <div class="column clubs-reading-this"><button class="button">hello world</button>
            </div>
        </div>
    </div>
</div>