#nav-login-btn {
  color: #363636;
}

.navbar-dropdown {
  background-color: #363636;
}

.navbar-dropdown .navbar-item:hover {
  background-color: #292929 !important;
}

#body-wrapper {
  /* border: 2px solid hotpink; */
  color: white;
  min-height: calc(100vh - 56px - 104px);
  background-image: url("../img/pexels-janko-ferlic-590493.jpg");
  background-size: cover;
  position: relative;
}

.search-bar {
  width: 23vw;
}

.columns {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-sign-up {
  background-color: transparent;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#value-prop-card {
  right: 0;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 20px;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 1);
  /* border: 2px dashed green; */
}

#value-prop-title {
  /* font-size: 45px; */
  color: white;
  /* -webkit-text-stroke: 1px black; */
}

#value-prop-body {
  /* font-size: 45px; */
  color: white;
  /* -webkit-text-stroke: 1px black; */
}
#landing-action-btn {
  max-width: 150px;
}
#landing-carousel {
  /* border: 2px solid yellow; */
  /* visibility: hidden; */
  background-color: transparent;
  display: flex;
  align-items: center;
}

#carousel {
  /* border: 2px dashed green; */
  width: 80%;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 1);
}

.carousel-img {
  border-radius: 10px;
  /* max-width: 500px; */
  max-height: 400px;
  object-fit: cover;
}

footer {
  background-color: #363636 !important;
  color: white !important;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem !important;
}
footer strong {
  color: white;
}

footer a {
  color: lightskyblue;
}
