#body-wrapper {
  border: 2px solid hotpink;
  display: block;
  min-height: calc(100vh - 56px - 168px);
}

footer {
  /* color: red !important; */
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  display: block;
  /* text-align: center; */
}
